[project]
[access "refs/heads/*"]
	owner = group Hammerhead Maintainers
	push = +force group Hammerhead Maintainers
	label-Code-Review = -2..+2 group Hammerhead Maintainers
	label-Verified = -1..+1 group Hammerhead Maintainers
	submit = group Hammerhead Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Hammerhead Maintainers
